/*Container to hold everything outer layer*/
div.outer {
	width: 1200px;
	border: 2px solid black;
	margin: 0 auto;
	position: relative;
	padding: 5px;
	border-radius: 20px;
}
/*Finished container for outer layer*/

/*FIX THIS JUST ROUIGH STYLES FOR THINGS*/
.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.left {
	text-align: left;
	font-size: 150%;
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline;
}
/*Setting up the main section with all the content*/
section.mainCont {
	width: 1150px;
	/*border: 1px solid gray;*/
	margin: 0 auto;
	position: relative;
	padding: 5px;
	overflow: auto;
}

/*Setting up the div for holding login form*/
div.login-form {
	width: 1150px;
	border: 2px solid black;
	margin: 0 auto;
	position: relative;
	padding: 5px;
	margin-bottom: 5px;
	text-align: right;
	border-radius: 10px;
	overflow: auto;
}

/*Setting up the about us section with all the content*/
section.aboutus {
	width: 800px;
	margin: 0 auto;
	position: relative;
	padding: 5px;
	overflow: auto;
}

div.prodContainer {
	width: 263px;
	height: 300px;
	border: 2px solid black;
	margin: 5px;
	position: relative;
	float: left;
	padding: 5px;
	text-align: center;
	border-radius: 25px;
	background-color: #f4f5f7;
}
/*Finished main content*/

/*Setting up for the header */
header {
	margin: 0 auto;
}
/*Finished header*/

/*Setting up for the footer */
footer {
	margin: 0 auto;
	text-align: center;
}
/*Finished footer*/

/*Setting up for the nav */
nav {
    width: 1150px;
	margin: 0 auto;
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
	height: 40px;
}

.active {
    background-color: #4CAF50;
}

form.search {
	color: white;
	float: right;
	padding: 10px;
}
/*Finished nav */

/*Dropdown*/
ul li {
     float:left;
     position:relative;
	 z-index: 999;
}

a:link, a:visited {
     text-decoration: none;
     color: #FFF;
     font-weight:bold;
}

ul li a, ul li a:visited {
     display:block;
     color:#fff;
     width:104px;
     height:auto;
     line-height:20px;
     padding:10px;
     text-align:center;
}

ul li a:hover {
     display:block;
     color: white;
     background: black;
     line-height:20px;
     padding:10px;
}

ul li ul, ul li:hover ul li ul {
     display: none;
}
ul li:hover ul {
     display:block;
     position:absolute; 
     top:36px;
     left:0;
     height:auto;
}

ul li:hover ul li a {
     display:block;
     text-align:center; 
     border-bottom:1px solid #FFF;
}

ul li:hover ul li:hover ul {
     display:block;
     position:absolute;
     left:124px;
     top:0;
}